body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 5em;
    width: 5em;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    height: 20px;
    margin-right: 5px;
}

.user-info span {
    margin-left: 5px;
}




.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    color: #ff6f61;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.logout {
    color: white;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #ff6f61;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 20px 0;
}
